{% comment %} <style>
  .swiper-container {
    overflow: hidden;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: 480px) {
    .swiper-container {
      min-height: 320px;
    }
  }
  .swiper-container-wrapper {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    width: 100vw;
  }
  @media (min-width: 480px) {
    .swiper-container-wrapper {
      flex-flow: row nowrap;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: #000;
  }
  .swiper-slide {
    text-align: center;
    background-size: cover;
    background-position: center;
    background-color: #fff;
    /* Center slide text vertically */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    /* Slide content */
  }
  .swiper-slide .description,
  .swiper-slide .title {
    display: block;
    opacity: 0;
    transition: 0.5s ease 0.5s;
  }
  .swiper-slide-active .description,
  .swiper-slide-active .title {
    opacity: 1;
  }
  .swiper-slide-active .title {
    margin-bottom: 0.5rem;
    font-size: 24px;
    color: #000;
    transition: opacity 0.5s ease 0.5s;
  }
  .swiper-slide-active .description {
    font-size: 16px;
    color: #777;
    transition: opacity 0.5s ease 0.75s;
  }
  .gallery-top {
    position: relative;
    width: 100%;
    height: 75vh;
  }
  @media (min-width: 480px) {
    .gallery-top {
      width: 80%;
      height: 100vh;
      margin-right: 10px;
    }
  }
  .gallery-thumbs {
    width: 100%;
    height: 25vh;
    padding-top: 10px;
  }
  @media (min-width: 480px) {
    .gallery-thumbs {
      width: 20%;
      height: 100vh;
      padding: 0;
    }
  }
  .gallery-thumbs .swiper-wrapper {
    flex-direction: row;
  }
  @media (min-width: 480px) {
    .gallery-thumbs .swiper-wrapper {
      flex-direction: column;
    }
  }
  .gallery-thumbs .swiper-slide {
    width: 25%;
    flex-flow: row nowrap;
    height: 100%;
    opacity: 0.75;
    cursor: pointer;
  }
  @media (min-width: 480px) {
    .gallery-thumbs .swiper-slide {
      flex-flow: column nowrap;
      width: 100%;
    }
  }
  .gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
  }
</style> {% endcomment %}
{% comment %}
  Renders a product media gallery. Should be used with 'media-gallery.js'
  Also see 'product-media-modal'

  Accepts:
  - product: {Object} Product liquid object
  - variant_images: {Array} Product images associated with a variant
  - is_duplicate: {Boolean} Prevents rendering uneeded elements and duplicate ids for subsequent instances

  Usage:
  {% render 'product-media-gallery', is_duplicate: true %}
{% endcomment %}

{%- liquid
  if section.settings.hide_variants and variant_images.size == product.media.size
    assign single_media_visible = true
  endif

  assign media_count = product.media.size
  if section.settings.hide_variants and media_count > 1 and variant_images.size > 0
    assign media_count = media_count | minus: variant_images.size | plus: 1
  endif

  if media_count == 1 or single_media_visible
    assign single_media_visible_mobile = true
  endif

  if media_count == 0 or single_media_visible_mobile or section.settings.mobile_thumbnails == 'show' or section.settings.mobile_thumbnails == 'columns' and media_count < 3
    assign hide_mobile_slider = true
  endif

  if section.settings.media_size == 'large'
    assign media_width = 0.65
  elsif section.settings.media_size == 'medium'
    assign media_width = 0.55
  elsif section.settings.media_size == 'small'
    assign media_width = 0.45
  endif

  assign id_append = ''
  if is_duplicate
    assign id_append = '-duplicate'
  endif
-%}

<media-gallery
  id="MediaGallery-{{ section.id }}{{ id_append }}"
  role="region"
  {% if section.settings.enable_sticky_info %}
    class="product__column-sticky"
  {% endif %}
  aria-label="{{ 'products.product.media.gallery_viewer' | t }}"
  data-desktop-layout="{{ section.settings.gallery_layout }}"
>
  <div id="GalleryStatus-{{ section.id }}" class="visually-hidden" role="status"></div>

  <div id="GalleryViewer-{{ section.id }}{{ id_append }}" class="swiper-container gallery-top slider-mobile-gutter">
    {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
    <div>
      {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
      {% render 'product-thumbnail',
        media: featured_media,
        media_count: media_count,
        position: media_position,
        desktop_layout: section.settings.gallery_layout,
        mobile_layout: section.settings.mobile_thumbnails,
        loop: section.settings.enable_video_looping,
        modal_id: section.id,
        xr_button: true,
        media_width: media_width,
        media_fit: section.settings.media_fit,
        constrain_to_viewport: section.settings.constrain_to_viewport,
        lazy_load: false
      %}
    </div>
  </div>
  {%- if first_3d_model -%}
    <button
      class="button button--full-width product__xr-button"
      type="button"
      aria-label="{{ 'products.product.xr_button_label' | t }}"
      data-shopify-xr
      data-shopify-model3d-id="{{ first_3d_model.id }}"
      data-shopify-title="{{ product.title | escape }}"
      data-shopify-xr-hidden
    >
      {% render 'icon-3d-model' %}
      {{ 'products.product.xr_button' | t }}
    </button>
  {%- endif -%}
  {%- if media_count > 1
    and section.settings.gallery_layout contains 'thumbnail'
    or section.settings.mobile_thumbnails == 'show'
  -%}
    <div
      id="GalleryThumbnails-{{ section.id }}{{ id_append }}"
      class="swiper-container gallery-thumbs"
    >
      <button
        type="button"
        class="slider-button slider-button--prev{% if media_count <= 3 %} small-hide{% endif %}{% if media_count <= 4 %} medium-hide large-up-hide{% endif %}"
        name="previous"
        aria-label="{{ 'general.slider.previous_slide' | t }}"
        aria-controls="GalleryThumbnails-{{ section.id }}"
        data-step="3"
      >
        {% render 'icon-caret' %}
      </button>
      <ul
        id="Slider-Thumbnails-{{ section.id }}{{ id_append }}"
        class="w-full max-w-[121px]"
        {% comment %} class="thumbnail-list list-unstyled slider slider--mobile{% if section.settings.gallery_layout == 'thumbnail_slider' %} slider--tablet-up{% endif %}" {% endcomment %}
      >
        {%- capture sizes -%}
          (min-width: {{ settings.page_width }}px) calc(({{ settings.page_width | minus: 100 | times: media_width | round }} - 4rem) / 4),
          (min-width: 990px) calc(({{ media_width | times: 100 }}vw - 4rem) / 4),
          (min-width: 750px) calc((100vw - 15rem) / 8),
          calc((100vw - 8rem) / 3)
        {%- endcapture -%}

        {% comment %} {%- if featured_media != null -%}
          {%- liquid
            capture media_index
              if featured_media.media_type == 'model'
                increment model_index
              elsif featured_media.media_type == 'video' or featured_media.media_type == 'external_video'
                increment video_index
              elsif featured_media.media_type == 'image'
                increment image_index
              endif
            endcapture
            assign media_index = media_index | plus: 1
          -%}
          <li
            id="Slide-Thumbnails-{{ section.id }}-0{{ id_append }}"
            class="thumbnail-list__item slider__slide{% if section.settings.hide_variants and variant_images contains featured_media.src %} thumbnail-list_item--variant{% endif %}"
            data-target="{{ section.id }}-{{ featured_media.id }}"
            data-media-position="{{ media_index }}"
          >
            {%- capture thumbnail_id -%}
              Thumbnail-{{ section.id }}-0{{ id_append }}
            {%- endcapture -%}
            <button
              class="thumbnail global-media-settings global-media-settings--no-shadow"
              aria-label="{%- if featured_media.media_type == 'image' -%}{{ 'products.product.media.load_image' | t: index: media_index }}{%- elsif featured_media.media_type == 'model' -%}{{ 'products.product.media.load_model' | t: index: media_index }}{%- elsif featured_media.media_type == 'video' or featured_media.media_type == 'external_video' -%}{{ 'products.product.media.load_video' | t: index: media_index }}{%- endif -%}"
              aria-current="true"
              aria-controls="GalleryViewer-{{ section.id }}{{ id_append }}"
              aria-describedby="{{ thumbnail_id }}"
            >
              {{
                featured_media.preview_image
                | image_url: width: 121
                | image_tag:
                  loading: 'lazy',
                  sizes: sizes,
                  widths: '54, 74, 104, 162, 208, 324, 416',
                  id: thumbnail_id,
                  alt: featured_media.alt
                | escape
              }}
            </button>
          </li>
        {%- endif -%} {% endcomment %}
        {%- for media in product.media -%}
          {% comment %} {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%} {% endcomment %}
            {%- liquid
              capture media_index
                if media.media_type == 'model'
                  increment model_index
                elsif media.media_type == 'video' or media.media_type == 'external_video'
                  increment video_index
                elsif media.media_type == 'image'
                  increment image_index
                endif
              endcapture
              assign media_index = media_index | plus: 1
            -%}
            <li
              id="Slide-Thumbnails-{{ section.id }}-{{ forloop.index }}{{ id_append }}"
              class="relative"
              {% comment %} class="thumbnail-list__item slider__slide{% if section.settings.hide_variants and variant_images contains media.src %} thumbnail-list_item--variant{% endif %}" {% endcomment %}
              data-target="{{ section.id }}-{{ media.id }}"
              data-media-position="{{ media_index }}"
            >
              {%- if media.media_type == 'model' -%}
                <span class="thumbnail__badge" aria-hidden="true">
                  {%- render 'icon-3d-model' -%}
                </span>
              {%- elsif media.media_type == 'video' or media.media_type == 'external_video' -%}
                <span class="thumbnail__badge" aria-hidden="true">
                  {%- render 'icon-play' -%}
                </span>
              {%- endif -%}
              {%- capture thumbnail_id -%}
                Thumbnail-{{ section.id }}-{{ forloop.index }}{{ id_append }}
              {%- endcapture -%}
              <button
                {% comment %} class="thumbnail global-media-settings global-media-settings--no-shadow" {% endcomment %}
                aria-label="{%- if media.media_type == 'image' -%}{{ 'products.product.media.load_image' | t: index: media_index }}{%- elsif media.media_type == 'model' -%}{{ 'products.product.media.load_model' | t: index: media_index }}{%- elsif media.media_type == 'video' or media.media_type == 'external_video' -%}{{ 'products.product.media.load_video' | t: index: media_index }}{%- endif -%}"
                {% if media == product.selected_or_first_available_variant.featured_media
                  or product.selected_or_first_available_variant.featured_media == null
                  and forloop.index == 1
                %}
                  aria-current="true"
                {% endif %}
                aria-controls="GalleryViewer-{{ section.id }}{{ id_append }}"
                aria-describedby="{{ thumbnail_id }}"
              >
                {{
                  media.preview_image
                  | image_url: width: 121
                  | image_tag:
                    loading: 'lazy',
                    sizes: sizes,
                    widths: '54, 74, 104, 162, 208, 324, 416',
                    class: 'w-[121px] h-[121px] object-cover ',
                    id: thumbnail_id,
                    alt: media.alt
                  | escape
                }}
              </button>
            </li>
        
        {%- endfor -%}
      </ul>
      <button
        type="button"
        class="slider-button slider-button--next{% if media_count <= 3 %} small-hide{% endif %}{% if media_count <= 4 %} medium-hide large-up-hide{% endif %}"
        name="next"
        aria-label="{{ 'general.slider.next_slide' | t }}"
        aria-controls="GalleryThumbnails-{{ section.id }}"
        data-step="3"
      >
        {% render 'icon-caret' %}
      </button>
    </div>
  {%- endif -%}
</media-gallery>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    var galleryThumbs = new Swiper('.gallery-thumbs', {
      centeredSlides: true,
      centeredSlidesBounds: true,
      direction: 'horizontal',
      spaceBetween: 10,
      slidesPerView: 3,
      freeMode: false,
      watchSlidesVisibility: true,
      watchSlidesProgress: true,
      watchOverflow: true,
      breakpoints: {
        480: {
          direction: 'vertical',
          slidesPerView: 3,
        },
      },
    });
    var galleryTop = new Swiper('.gallery-top', {
      direction: 'horizontal',
      spaceBetween: 10,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      a11y: {
        prevSlideMessage: 'Previous slide',
        nextSlideMessage: 'Next slide',
      },
      keyboard: {
        enabled: true,
      },
      thumbs: {
        swiper: galleryThumbs,
      },
    });
    galleryTop.on('slideChangeTransitionStart', function () {
      galleryThumbs.slideTo(galleryTop.activeIndex);
    });
    galleryThumbs.on('transitionStart', function () {
      galleryTop.slideTo(galleryThumbs.activeIndex);
    });
  });
</script>
