{% comment %}
  Renders share button.
  Accepts:
  - block: {Object} passes in the block information.
  - share_link: {String} url to be added to the input the user will get/copy.

  Usage:
  {% render 'share-button',
    block: block,
    share_link: share_url
  %}
{% endcomment %}
<script src="{{ 'share.js' | asset_url }}" defer="defer"></script>
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{% assign full_url = request.host | append: request.path %}
<div class="social-share-container flex gap-[28px] items-center">
  <p class="flex gap-[9px] max-sm:!hidden">
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13" fill="none">
      <path d="M11.5 0C10.125 0 9 1.125 9 2.5C9 2.67188 9.01953 2.83594 9.05078 3L4.51953 5.03906C4.0625 4.41406 3.32812 4 2.5 4C1.125 4 0 5.125 0 6.5C0 7.875 1.125 9 2.5 9C3.33203 9 4.07422 8.58203 4.52734 7.94922L9.0625 9.96484C9.02344 10.1367 9 10.3164 9 10.5C9 11.875 10.125 13 11.5 13C12.875 13 14 11.875 14 10.5C14 9.125 12.875 8 11.5 8C10.668 8 9.92578 8.41797 9.47266 9.05078L4.9375 7.03906C4.97656 6.86328 5 6.68359 5 6.5C5 6.3125 4.97656 6.12891 4.9375 5.95312L9.44531 3.91406C9.89844 4.57031 10.6523 5 11.5 5C12.875 5 14 3.875 14 2.5C14 1.125 12.875 0 11.5 0ZM11.5 1C12.3359 1 13 1.66406 13 2.5C13 3.33594 12.3359 4 11.5 4C10.6641 4 10 3.33594 10 2.5C10 1.66406 10.6641 1 11.5 1ZM2.5 5C3.33594 5 4 5.66406 4 6.5C4 7.33594 3.33594 8 2.5 8C1.66406 8 1 7.33594 1 6.5C1 5.66406 1.66406 5 2.5 5ZM11.5 9C12.3359 9 13 9.66406 13 10.5C13 11.3359 12.3359 12 11.5 12C10.6641 12 10 11.3359 10 10.5C10 9.66406 10.6641 9 11.5 9Z" fill="#333333"/>
    </svg>
    <span class="text-[14px] text-[#333] font-normal leading-[18px]">
      SHARE
    </span>
  </p>
  <div class="flex items-center gap-[28px]">
    <div class="">
      <a
        href="http://www.facebook.com/share.php?u=https://{{ full_url }}"
        target="_blank"
        onclick="window.open(this.href,'window','width=640,height=480,resizable,scrollbars') ;return false;"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M11.9985 2C6.48523 2 1.99976 6.48604 1.99976 12C1.99976 17.514 6.48523 22 11.9985 22C17.5118 22 21.9972 17.514 21.9972 12C21.9972 6.48604 17.5118 2 11.9985 2ZM11.9985 3.5C16.7012 3.5 20.4974 7.2967 20.4974 12C20.4974 16.1904 17.4814 19.6532 13.4983 20.3604V14.5H15.3106C15.5626 14.5 15.7756 14.3115 15.8066 14.0615L15.9941 12.5615C16.0121 12.4195 15.967 12.2769 15.872 12.1689C15.7775 12.0614 15.6415 12 15.4981 12H13.4983V10.25C13.4983 9.6985 13.9468 9.25 14.4982 9.25H15.4981C15.774 9.25 15.998 9.0265 15.998 8.75V7.0625C15.998 6.8035 15.8004 6.58745 15.543 6.56445C15.5135 6.56195 14.8081 6.5 13.9153 6.5C11.712 6.5 10.4987 7.80809 10.4987 10.1836V12H8.49894C8.22297 12 7.999 12.2235 7.999 12.5V14C7.999 14.2765 8.22297 14.5 8.49894 14.5H10.4987V20.3604C6.5156 19.6532 3.49957 16.1904 3.49957 12C3.49957 7.2967 7.29578 3.5 11.9985 3.5Z" fill="#333333"/>
        </svg>
      </a>
    </div>
    <div class="">
      <a
        class=""
        href="https://twitter.com/intent/tweet"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M15.9999 3C13.2842 3 11.0802 5.19437 11.0214 7.89648C8.62028 7.6085 7.05671 6.71075 6.09757 5.82617C5.03391 4.84519 4.69718 3.97363 4.69718 3.97363C4.64802 3.84977 4.56675 3.74124 4.46173 3.65921C4.35671 3.57718 4.23173 3.52461 4.09965 3.5069C3.96757 3.4892 3.83316 3.507 3.71025 3.55848C3.58733 3.60996 3.48035 3.69326 3.40031 3.7998C3.40031 3.7998 2.49992 5 2.49992 6.75C2.49992 7.75049 2.81581 8.49078 3.1923 9.11816C3.17843 9.11167 3.08488 9.0791 3.08488 9.0791C2.96534 9.01942 2.83204 8.99275 2.69874 9.00185C2.56544 9.01094 2.437 9.05548 2.32668 9.13085C2.21636 9.20622 2.12818 9.30969 2.07125 9.43056C2.01432 9.55142 1.9907 9.68531 2.00285 9.81836C2.00285 9.81836 2.29152 11.9284 4.27531 13.4707L4.06828 13.5225C3.95589 13.5505 3.85154 13.6042 3.76338 13.6794C3.67523 13.7545 3.60568 13.849 3.56018 13.9555C3.51467 14.0621 3.49446 14.1777 3.50112 14.2933C3.50777 14.409 3.54112 14.5215 3.59855 14.6221C3.59855 14.6221 3.93494 15.1911 4.63956 15.79C5.05734 16.1451 5.67105 16.5116 6.39445 16.8506C5.50605 17.1752 4.18132 17.5 2.24992 17.5C2.10579 17.5 1.96472 17.5415 1.84356 17.6196C1.72241 17.6976 1.62631 17.8089 1.56677 17.9402C1.50722 18.0714 1.48675 18.217 1.5078 18.3596C1.52885 18.5022 1.59053 18.6357 1.68546 18.7441C1.68546 18.7441 2.25858 19.3755 3.39152 19.9248C4.52446 20.4741 6.26965 21 8.74992 21C13.1098 21 16.2422 18.9086 18.1972 16.2578C20.1521 13.607 20.9999 10.4306 20.9999 8C20.9999 7.84577 20.9903 7.69372 20.9765 7.54297C22.0321 6.5258 22.4282 5.76112 22.4472 5.72363C22.5422 5.53313 22.5068 5.30434 22.3593 5.15234C22.2123 4.99984 21.9844 4.9569 21.7909 5.0459L21.7099 5.08301C21.6404 5.11501 21.5709 5.14721 21.5009 5.17871C21.7044 4.85421 21.865 4.50744 21.9765 4.14844C22.0385 3.95044 21.9715 3.73347 21.8075 3.60547C21.6435 3.47747 21.4177 3.46377 21.2402 3.57227C20.629 3.94368 20.0432 4.20369 19.4335 4.37793C18.5362 3.52674 17.3284 3 15.9999 3ZM15.9999 4.5C17.9415 4.5 19.4999 6.05841 19.4999 8C19.4999 10.0694 18.7227 13.018 16.9902 15.3672C15.2576 17.7164 12.6401 19.5 8.74992 19.5C6.86732 19.5 5.61501 19.1595 4.67667 18.791C5.65959 18.6384 6.50589 18.4347 7.11417 18.1992C8.16901 17.7909 8.7382 17.3193 8.7382 17.3193C8.8426 17.2297 8.92035 17.1131 8.96293 16.9823C9.00551 16.8515 9.01129 16.7115 8.97963 16.5776C8.94798 16.4437 8.8801 16.3211 8.78343 16.2232C8.68677 16.1253 8.56504 16.0558 8.43156 16.0225C7.07019 15.6821 6.19708 15.1317 5.64933 14.6729L6.43156 14.4775C6.58625 14.4389 6.72462 14.352 6.82658 14.2295C6.92854 14.1069 6.98879 13.955 6.99859 13.7959C7.00839 13.6367 6.96722 13.4786 6.88106 13.3445C6.7949 13.2103 6.66824 13.1071 6.51945 13.0498C4.89689 12.4257 4.21553 11.5432 3.8671 10.8037C4.29109 10.8915 4.68586 11 5.24992 11C5.41882 10.9999 5.58274 10.9427 5.71512 10.8378C5.84751 10.7329 5.94061 10.5864 5.97937 10.422C6.01812 10.2576 6.00026 10.085 5.92866 9.93198C5.85707 9.77901 5.73594 9.65467 5.58488 9.5791C5.58488 9.5791 3.99992 8.85 3.99992 6.75C3.99992 6.37297 4.10434 6.13418 4.18058 5.84863C4.44217 6.20018 4.65776 6.53929 5.07999 6.92871C6.36733 8.11598 8.4951 9.32658 11.7099 9.49902C11.8116 9.50445 11.9134 9.4891 12.009 9.45391C12.1046 9.41872 12.192 9.36443 12.2659 9.29434C12.3398 9.22425 12.3987 9.13984 12.4389 9.04626C12.4792 8.95267 12.4999 8.85187 12.4999 8.75V8C12.4999 6.05841 14.0583 4.5 15.9999 4.5Z" fill="#333333"/>
        </svg>
      </a>
    </div>
    <div id="pinterest-share" class="">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
      <path d="M12 2C6.48603 2 2 6.48604 2 12C2 17.514 6.48603 22 12 22C17.514 22 22 17.514 22 12C22 6.48604 17.514 2 12 2ZM12 3.5C16.7033 3.5 20.5 7.2967 20.5 12C20.5 16.7033 16.7033 20.5 12 20.5C11.2833 20.5 10.5912 20.4024 9.92676 20.2363C10.1667 19.7483 10.328 19.2675 10.4648 18.7646L10.9805 16.7305C11.5205 17.2405 12.28 17.5 13.25 17.5C15.87 17.5 18 14.865 18 11.625C18 8.42 15.42 6 12 6C8.69 6 6 8.525 6 11.625C6 13.115 6.57496 14.4704 7.58496 15.4404C7.70496 15.5554 7.9102 15.4901 7.9502 15.3301L8.23047 14.165C8.26047 14.045 8.23016 13.9204 8.16016 13.8154C7.80016 13.3054 7.5 12.595 7.5 11.625C7.5 9.35 9.52 7.5 12 7.5C12.41 7.5 16 7.62 16 11.75C16 13.795 15.06 16 13 16C12.48 15.965 12.1095 15.7945 11.8945 15.5195C11.5245 15.0295 11.6146 14.1996 11.7246 13.7646L12.1104 12.2549C12.2104 11.8549 12.25 11.5146 12.25 11.2246C12.25 10.2496 11.66 9.75 11 9.75C10.11 9.75 9.5 10.6946 9.5 11.6396C9.5 12.1546 9.58 12.7053 9.75 13.1953L8.61523 17.9053C8.61523 17.9053 8.5 18.21 8.5 19.21C8.5 19.3107 8.51757 19.575 8.52539 19.7549C5.56198 18.4287 3.5 15.4633 3.5 12C3.5 7.2967 7.29669 3.5 12 3.5Z" fill="#333333"/>
    </svg>
    </div>

    <div class="mail-social">
      <share-button id="Share-{{ section.id }}" class="share-button quick-add-hidden" {{ block.shopify_attributes }}>
        <button class="share-button__button hidden">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M5.25 4C3.46403 4 2 5.46403 2 7.25V16.75C2 18.536 3.46403 20 5.25 20H18.75C20.536 20 22 18.536 22 16.75V7.25C22 5.46403 20.536 4 18.75 4H5.25ZM5.25 5.5H18.75C19.725 5.5 20.5 6.27497 20.5 7.25V7.80273L12 12.3975L3.5 7.80273V7.25C3.5 6.27497 4.27497 5.5 5.25 5.5ZM3.5 9.50781L11.6436 13.9102C11.7531 13.9693 11.8755 14.0003 12 14.0003C12.1245 14.0003 12.2469 13.9693 12.3564 13.9102L20.5 9.50781V16.75C20.5 17.725 19.725 18.5 18.75 18.5H5.25C4.27497 18.5 3.5 17.725 3.5 16.75V9.50781Z" fill="#333333"/>
          </svg>
        </button>
        <details id="Details-{{ block.id }}-{{ section.id }}">
          <summary class="share-button__button">
            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
              <path d="M7.8125 7.29163C6.08854 7.29163 4.6875 8.69267 4.6875 10.4166V22.9166C4.6875 24.6406 6.08854 26.0416 7.8125 26.0416H25.5208C27.2448 26.0416 28.6458 24.6406 28.6458 22.9166V10.4166C28.6458 8.69267 27.2448 7.29163 25.5208 7.29163H7.8125ZM8.51563 9.37496H24.8177L18.4583 15.4166C17.4531 16.3698 15.8802 16.3698 14.875 15.4166L8.51563 9.37496ZM6.77083 10.5937L13.4375 16.927C14.3438 17.7864 15.5052 18.2135 16.6667 18.2135C17.8281 18.2135 18.9896 17.7864 19.8958 16.927L26.5625 10.5937V22.9166C26.5625 23.4895 26.0938 23.9583 25.5208 23.9583H7.8125C7.23958 23.9583 6.77083 23.4895 6.77083 22.9166V10.5937Z" fill="#171718"/>
            </svg>
          </summary>
          <div class="share-button__fallback motion-reduce">
            <div class="field">
              <span id="ShareMessage-{{ section.id }}" class="share-button__message hidden" role="status"> </span>
              <input
                type="text"
                class="field__input"
                id="ShareUrl-{{ section.id }}"
                value="{{ share_link }}"
                placeholder="{{ 'general.share.share_url' | t }}"
                onclick="this.select();"
                readonly
              >
              <label class="field__label" for="ShareUrl-{{ section.id }}">{{ 'general.share.share_url' | t }}</label>
            </div>
            <button class="share-button__close hidden no-js-hidden">
              {% render 'icon-close' %}
              <span class="visually-hidden">{{ 'general.share.close' | t }}</span>
            </button>
            <button class="share-button__copy no-js-hidden">
              {% render 'icon-clipboard' %}
              <span class="visually-hidden">{{ 'general.share.copy_to_clipboard' | t }}</span>
            </button>
          </div>
        </details>
      </share-button>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const shareButton = document.getElementById('pinterest-share');
    if (shareButton) {
      shareButton.addEventListener('click', function () {
        const url = window.location.href; // Current page URL
        const media = document.querySelector('[property="og:image"]').content; // Image URL from the product page
        const description = document.querySelector('[property="og:description"]').content; // Product description

        const pinterestUrl = `https://pinterest.com/pin/create/button/?url=${encodeURIComponent(
          url
        )}&media=${encodeURIComponent(media)}&description=${encodeURIComponent(description)}`;

        window.open(pinterestUrl, 'Pinterest', 'toolbar=no, status=no, width=800, height=500');
      });
    }
  });
</script>
