<style>
  .heading-base {
    font-size: 40px;
    line-height: 50px;
  }

  :root {
    ---swiper-navigation-sides-offset: 60px;
  }
  .product-swipper .swiper-scrollbar-drag {
    background-color: rgba(var(--color-foreground));
  }
  .product-price-wrap .price {
    text-align: center;
    color: rgba(var(--colot-second-text));
  }
  ::after,
  .product-nav::before {
    display: none;
  }
  .product-swipper .swiper-button-next,
  .product-swipper .swiper-button-prev {
    top: calc(50% - 43px);
  }
  .item-wishlist-product.swym-button::after {
    font-size: 20px;
  }
  .product-nav.swiper-button-next.swiper-button-disabled, .product-nav.swiper-button-prev.swiper-button-disabled {
    opacity: 0;
  }

  #collection-{{section.id}} {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  @media only screen and (max-width: 768px) {
    #collection-{{section.id}} {
      padding-top:  {{section.settings.padding_top_mob}}px;
      padding-bottom: {{section.settings.padding_bottom_mob}}px;
    }
  }
</style>
<div id="collection-{{section.id}}" class="color-{{section.settings.color_schema}} flex gap-[47px] items-center">
  {%- if section.settings.slider_position == 'right' -%}

    <div class="ml-40 max-w-[410px] w-full">
      <h2 class="heading-base m-0 mb-8">{{ section.settings.title }}</h2>
      <p class="text-base m-0 mb-10">{{ section.settings.desc }}</p>
      <a href="{{ section.settings.button_link }}" class="btn-primary">
        {{ section.settings.button_text }}
      </a>
    </div>

    <div class="swiper collection-swipper-info flex-1">
      <div class="swiper-wrapper">
        {%- for product in section.settings.collection.products -%}
          <div class="swiper-slide swiper-slide-product bg-white flex flex-col h-full max-w-[320px] mx-auto relative">
            {% comment %} <button
                   
                                            data-with-epi="true"
                                            data-swaction="addToWishlist"
                                            aria-label="Add to Wishlist"
                                            class="item-wishlist-product swym-button swym-add-to-wishlist-view-product product_{{product.id}} !absolute right-[14px] top-[13px] " 
                                            data-product-id="{{product.id | json}}"
                                            data-variant-id="{{product.variants[0].id}}" 
                                            data-product-url="{{ shop.url }}{{ product.url }}"
                                            >
                   
                                      </button> {% endcomment %}
            <a href="{{ product.url }}" class="no-underline text-current">
              <div class="product-slide-item">
                <div class="flex items-center justify-center bg-[#FBFBFB] p-[47px]">
                  <img
                    srcset="
                        {%- if product.featured_image.width >= 165 -%}{{ product.featured_image | image_url: width: 165 }} 165w,{%- endif -%}
                        {%- if product.featured_image.width >= 330 -%}{{ product.featured_image | image_url: width: 330 }} 330w,{%- endif -%}
                        {%- if product.featured_image.width >= 535 -%}{{ product.featured_image | image_url: width: 535 }} 535w,{%- endif -%}
                        {%- if product.featured_image.width >= 750 -%}{{ product.featured_image | image_url: width: 750 }} 750w,{%- endif -%}
                        {%- if product.featured_image.width >= 1000 -%}{{ product.featured_image | image_url: width: 1000 }} 1000w,{%- endif -%}
                        {%- if product.featured_image.width >= 1500 -%}{{ product.featured_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                        {%- if product.featured_image.width >= 3000 -%}{{ product.featured_image | image_url: width: 3000 }} 3000w,{%- endif -%}
                        {{ product.featured_image | image_url }} {{ product.featured_image.width }}w
                      "
                    src="{{ product.featured_image | image_url: width: 380 }}"
                    sizes="
                        (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: columns }}px,
                        (min-width: 750px) calc((100vw - 10rem) / 2),
                        calc(100vw - 3rem)
                      "
                    alt=""
                    height="{{ product.featured_image.height }}"
                    width="{{ product.featured_image.width }}"
                    loading="lazy"
                    class="mix-blend-multiply	block aspect-square max-w-[380px] w-full max-md:max-w-[204px]">
                </div>
                {%- if section.settings.vendor -%}
                  <div class="product-vendor-wrap pt-[18px] pb-[10px]">
                    <p class="text-center	 capitalize text-[16px] font-normal tracking-wide text-[rgba(var(--colot-second-text))] m-0">
                      {{ product.vendor }}
                    </p>
                  </div>

                {%- endif -%}
                <div class="product-title-wrap mt-6 mb-2">
                  <p class="text-base text-center tracking-[1.28px] m-0  text-[rgba(var(--color-foreground))]">
                    {{ product.title }}
                  </p>
                </div>
                <div class="product-price-wrap m-0 text-base tracking-[1.28px] text-[rgba(var(--colot-second-text))]">
                  {% render 'price'
                    , product: product
                    , price_class: ''
                    , show_compare_at_price: false %}
                </div>
              </div>
            </a>
          </div>
        {%- endfor -%}
        
      </div>
      <div class="swiper-button-next product-nav w-[32px] h-[32px]">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none">
            <path
              d="M12 6.66663L21.3333 16L12 25.3333"
              stroke="#0C2D52"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </div>
        <div class="swiper-button-prev product-nav w-[32px] h-[32px]">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none">
            <path
              d="M20 6.66663L10.6667 16L20 25.3333"
              stroke="#0C2D52"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </div>
    </div>

  {% else %}
  <div class="swiper collection-swipper-info flex-1">
    <div class="swiper-wrapper">
      {%- for product in section.settings.collection.products -%}
        <div class="swiper-slide swiper-slide-product bg-white flex flex-col h-full max-w-[320px] mx-auto relative">
          {% comment %} <button
                 
                                          data-with-epi="true"
                                          data-swaction="addToWishlist"
                                          aria-label="Add to Wishlist"
                                          class="item-wishlist-product swym-button swym-add-to-wishlist-view-product product_{{product.id}} !absolute right-[14px] top-[13px] " 
                                          data-product-id="{{product.id | json}}"
                                          data-variant-id="{{product.variants[0].id}}" 
                                          data-product-url="{{ shop.url }}{{ product.url }}"
                                          >
                 
                                    </button> {% endcomment %}
          <a href="{{ product.url }}" class="no-underline text-current">
            <div class="product-slide-item">
              <div class="flex items-center justify-center bg-[#FBFBFB] p-[47px]">
                <img
                  srcset="
                      {%- if product.featured_image.width >= 165 -%}{{ product.featured_image | image_url: width: 165 }} 165w,{%- endif -%}
                      {%- if product.featured_image.width >= 330 -%}{{ product.featured_image | image_url: width: 330 }} 330w,{%- endif -%}
                      {%- if product.featured_image.width >= 535 -%}{{ product.featured_image | image_url: width: 535 }} 535w,{%- endif -%}
                      {%- if product.featured_image.width >= 750 -%}{{ product.featured_image | image_url: width: 750 }} 750w,{%- endif -%}
                      {%- if product.featured_image.width >= 1000 -%}{{ product.featured_image | image_url: width: 1000 }} 1000w,{%- endif -%}
                      {%- if product.featured_image.width >= 1500 -%}{{ product.featured_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                      {%- if product.featured_image.width >= 3000 -%}{{ product.featured_image | image_url: width: 3000 }} 3000w,{%- endif -%}
                      {{ product.featured_image | image_url }} {{ product.featured_image.width }}w
                    "
                  src="{{ product.featured_image | image_url: width: 380 }}"
                  sizes="
                      (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: columns }}px,
                      (min-width: 750px) calc((100vw - 10rem) / 2),
                      calc(100vw - 3rem)
                    "
                  alt=""
                  height="{{ product.featured_image.height }}"
                  width="{{ product.featured_image.width }}"
                  loading="lazy"
                  class="mix-blend-multiply	block aspect-square max-w-[380px] w-full max-md:max-w-[204px]">
              </div>
              {%- if section.settings.vendor -%}
                <div class="product-vendor-wrap pt-[18px] pb-[10px]">
                  <p class="text-center	 capitalize text-[16px] font-normal tracking-wide text-[rgba(var(--colot-second-text))] m-0">
                    {{ product.vendor }}
                  </p>
                </div>

              {%- endif -%}
              <div class="product-title-wrap mt-6 mb-2">
                <p class="text-base text-center tracking-[1.28px] m-0  text-[rgba(var(--color-foreground))]">
                  {{ product.title }}
                </p>
              </div>
              <div class="product-price-wrap m-0 text-base tracking-[1.28px] text-[rgba(var(--colot-second-text))]">
                {% render 'price'
                  , product: product
                  , price_class: ''
                  , show_compare_at_price: false %}
              </div>
            </div>
          </a>
        </div>
      {%- endfor -%}
      
    </div>
    <div class="swiper-button-next product-nav w-[32px] h-[32px]">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none">
          <path
            d="M12 6.66663L21.3333 16L12 25.3333"
            stroke="#0C2D52"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </div>
      <div class="swiper-button-prev product-nav w-[32px] h-[32px]">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none">
          <path
            d="M20 6.66663L10.6667 16L20 25.3333"
            stroke="#0C2D52"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </div>
  </div>
  <div class="mr-40 max-w-[410px] w-full">
    <h2 class="heading-base m-0 mb-8">{{ section.settings.title }}</h2>
    <p class="text-base m-0 mb-10">{{ section.settings.desc }}</p>
    <a href="{{ section.settings.button_link }}" class="btn-primary">
      {{ section.settings.button_text }}
    </a>
  </div>

  {%- endif -%}

</div>
{% javascript %}
  document.addEventListener('DOMContentLoaded', () => {
    const productSlider = new Swiper('.collection-swipper-info', {
      grabCursor: true,
      slidesPerView: 4,
      spaceBetween: 30,
      speed: 600,
      navigation: {
        nextEl: '.swiper-button-next.product-nav',
        prevEl: '.swiper-button-prev.product-nav'
      },
      breakpoints: {
        0: {
          slidesPerView: 1,
          spaceBetween: 20,

// centeredSlides: true,
        },
        476: {
          slidesPerView: 2,
          spaceBetween: 20
        },
        640: {
          slidesPerView: 2,
          spaceBetween: 20
        },

        990: {
          slidesPerView: 2,
          spaceBetween: 20
        },
        1024: {
          slidesPerView: 2,
          spaceBetween: 18
        },
        1200: {
          slidesPerView: 2,
          spaceBetween: 18
        },
        1500: {
          slidesPerView: 2.5,
          spaceBetween: 32
        }
      }
    });
  });
{% endjavascript %}
{% schema %}
  {
    "name": "Collection Slider Info",
    "tag": "section",
    "class": "collection-slider-info",
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_schema",
        "label": "Color Scheme",
        "default": "1"
      },
      {
        "type": "select",
        "id": "slider_position",
        "label": "Slider Position",
        "options": [
          {
            "value": "right",
            "label": "Right"
          },
          {
            "value": "left",
            "label": "Left"
          }

        ],
        "default": "right"
      },
      {
        "type": "checkbox",
        "id": "vendor",
        "label": "Show Vendor",
        "default": false
      },

      {
        "type": "text",
        "id": "title",
        "label": "Title Text"
      },
      {
        "type": "inline_richtext",
        "id": "desc",
        "label": "Description"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Title",
        "default": "SHOP COLLECTION"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 70
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 70
      },
      {
        "type": "range",
        "id": "padding_top_mob",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Mobile Padding Top",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom_mob",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Mobile Padding Bottom",
        "default": 40
      }
    ],
    "presets": [
      {
        "name": "Collection Slider Info",
        "settings": {}
      }
    ]
  }
{% endschema %}